.app__laurels_awards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.app__laurels_awards-card {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 14.4rem;
    margin: 1rem;
}

.app__laurels_awards-card img {
    width: 3.2rem;
    height: 3.2rem;
}

.app__laurels_awards-card_content {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

@media screen and (min-width: 1900px) {
    .app__laurels_awards-card {
        min-width: 24.4;
    }
}

@media screen and (min-width: 480px) {
    .app__laurels_awards-card {
        min-width: 100%;
        margin: 1rem 0;
    }
}