.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--color-black);
    padding: 1rem 2rem;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app__navbar-logo img {
    width: 9.3rem;
}

.app__navbar-links {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1.2rem; 
}

.app__navbar-links li {
    font-size: 1.2rem;
    transition: 0.4s ease;
}

.app__navbar-links li:hover {
    color: var(--color-golden);
}

.app__navbar-book {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.app__navbar-book a {
    padding: 1rem 1.6rem;
    font-size: 1.2rem;
    background-color: var(--color-golden);
    color: var(--color-black);
    border: 1px solid var(--color-golden);
    transition: 0.4s ease;
}

.app__navbar-book a:hover {
    background-color: transparent;
    color: var(--color-golden);
}

.app__navbar-smallscreen_book a {
    padding: 1rem 1.6rem;
    margin: 1.6rem;
    font-size: 1.2rem;
    background-color: var(--color-golden);
    color: var(--color-black);
    border: 1px solid var(--color-golden);
    transition: 0.4s ease;
}

.app__navbar-smallscreen_book a:hover {
    background-color: transparent;
    color: var(--color-golden);
}

.app__navbar-smallscreen {
    display: none;
}

.menu-toggle {
    cursor: pointer;
}

.app__navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    transition: 0.4s ease;
    flex-direction: column;
    z-index: 6;
}

.app__navbar-smallscreen_overlay .overlay__close {
    font-size: 27px;
    color: var(--color-golden);
    cursor: pointer;
    position: absolute;
    top: 28px;
    right: 28px;
}

.app__navbar-smallscreen_links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app__navbar-smallscreen_links li {
    margin: 1.8rem;
    color: var(--color-golden);
    font-size: 2rem;
    font-family: var(--font-base);
    transition: 0.4s ease;
}

.app__navbar-smallscreen_links li:hover {
    color: var(--color-white);
}

@media screen and (max-width: 2000px) {
    .app__navbar-logo img {
        width: 13rem;
    }
}

@media screen and (max-width: 1150px) {
    .app__navbar-links {
        display: none;
    }

    .app__navbar-book {
        display: none;
    }

    .app__navbar-smallscreen {
        display: flex;
    }

    .app__navbar-smallscreen_book {
        display: flex;
    }
}

@media screen and (max-width: 650px) {
    .app__navbar {
        padding: 1rem;
    }

    .app__navbar-login {
        display: none;
    }

    .app__navbar-logo img {
        width: 6.8rem;
    }
}


